<p id="notice"><%= notice %></p>


в события нужно добавить время<br>



  <% @events.each do |event| %>
    <h3><%= event.title %></h3>
    <%= event.description %>
    <br><br>
    Место проведения: <%= event.location %>
    <br><br>
    Начало:
    <%= event.start_date %>
    <br>
    Конец:
    <%= event.end_date %>
    <br><br>
  <% end %>

<br>
<div class="digg_pagination">   
  <%= will_paginate @events, :container => false %>
</div>



<%- if user_signed_in? && current_user.admin? %>
<%= link_to 'New Event', new_event_path %>
<% end %>
